@model IEnumerable<ComercioElectronicoMvc.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h1>Lista de Productos</h1>

<p>
    <a asp-action="Create">Añadir Producto</a>
</p>

@if (@TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <strong>@TempData["ErrorMessage"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (@TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <strong>@TempData["SuccessMessage"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Filtrar Producto por Nombre</label>
                <input input type="text" name="searchProductByName" value=@ViewBag.SearchProductByName class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Filtrar Producto por Categoría</label>
                <select name="categoriaId" class="form-control">
                    @if (ViewBag.SelectedCategory != null)
                    {
                        <option value="">Todas</option>
                        <option value="@ViewBag.SelectedCategory.categoriaId" selected>@ViewBag.SelectedCategory.nombre</option>
                    } 
                    else
                    {
                        <option value="" selected>Todas</option>
                    }
                    @foreach (Categoria category in (IEnumerable<Categoria>) ViewBag.Categories)
                    {
                        <option value="@category.categoriaId">@Html.DisplayFor(modelItem => category.nombre)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Aplicar Filtros" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.ProductNameSort, searchProductByName = ViewBag.SearchProductByName, categoriaId = ViewBag.SelectedCategory != null ? ViewBag.SelectedCategory.categoriaId : null })
            </th>
            <th>
                @Html.ActionLink("Precio", "Index", new { sortOrder = ViewBag.ProductPriceSort, searchProductByName = ViewBag.SearchProductByName, categoriaId = ViewBag.SelectedCategory != null ? ViewBag.SelectedCategory.categoriaId : null })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deprecado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deprecado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.nombre)
                </td>
                 <td>
                    <a class="text-info" asp-action="Details" asp-route-id="@item.productoId">Detalle</a>
                    <label>|</label>

                    @if (item.deprecado)
                    {
                        <a class="text-success" asp-action="Enable" asp-route-id="@item.productoId">Habilitar</a>
                    }
                    else
                    {   
                        <a class="text-primary" asp-action="Edit" asp-route-id="@item.productoId">Editar</a> 
                        <label>|</label>
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.productoId">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
