@model ComercioElectronicoMvc.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<div>
    <h4>Detalles del Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cuilCuit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cuilCuit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.esAdministrador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.esAdministrador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.esEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.esEmpresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.deprecado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.deprecado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.esBloqueado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.esBloqueado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.usuarioId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
